<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Notes</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Notes List</h2>
  </div>
  <div class="content">
    <form #f="ngForm">
      
      <div class="form-group">
        <label for="title">Title:</label>
        <input [(ngModel)]="filter.title" id="title" name="title" class="form-control">
      </div>
      
      <button (click)="search()" [disabled]="!f?.valid" class="btn btn-primary">Search</button>
      <a [routerLink]="['../notes', 'new' ]" class="btn btn-default">New</a>
    </form>
  </div>
</div>
<div class="card" *ngIf="noteList.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Title</th>
          <th class="border-top-0" scope="col">Text</th>
          <th class="border-top-0" scope="col" style="width:120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of noteList" [class.active]="item === selectedNote">
        
          <td>{{item.id}}</td>
          <td>{{item.title}}</td>
          <td>{{item.text}}</td>
          <td style="white-space: nowrap">
            <a [routerLink]="['../notes', item.id ]" class="btn btn-secondary">Edit</a>&nbsp;
            <button (click)="delete(item)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
